@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

@keyframes flicker {
  0%,
  19.999%,
  22%,
  62.999%,
  64%,
  64.999%,
  70%,
  100% {
    opacity: 2;
  }

  20%,
  23%,
  63%,
  64%,
  65%,
  69%,
  70%,
  100% {
    opacity: 0.5;
  }
}

.animate-flicker {
  animation: flicker 2s infinite;
}

.logo {
  font-family: "Lilita One", sans-serif;
}
